<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Travel Plan</title>
</head>
<body>
    <a href="/logout/">Logout</a>
    <a href="/travels/">Home</a>
    <h1>Add a Trip</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <form action="/travels/adding/" method='post'>
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Add">
    </form>
</body>
</html>